# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environment
myenv/
.venv/
venv/

# # Data and models
data/
# models/

# OS/editor files
.DS_Store
.vscode/
.idea/

# Secrets
.env
*.env

# Logs
*.logdata/
